<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Name</string>
	<key>phone</key>
	<dict>
		<key>number</key>
		<string>000-000-0000</string>
	</dict>
</dict>
</plist>
